.bio {
    width: 60%;
    margin: 0% 20%;
}

.bio p {
    line-height: 25px;
}

.bio-end {
    margin: 5% 0%!important;
}

@media only screen and (max-width: 650px) {
    .bio {
        width: 90%;
        margin: 2% 5%;
    }
}