.header-container {
    width: 60%;
    height: auto;
    margin: 3% 20%;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.header-image {
    width: 250px;
    height: auto;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
}

.header-text {
    margin-left: 2%;
}

.header-text h1 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 350;
}

.header-text p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
}

@media only screen and (max-width: 775px) {
    .header-container {
        flex-direction: column;
    }

    .header-image {
        width: 80%;
        height: auto;
        align-self: center;
        margin-bottom: 0.67em;
    }
}