.nav {
    width: 60%;
    margin: 3% 20%;
}

.nav a {
    color: black;
    font-family: Raleway;
    margin: 0% 5% 0% 0%;

    font-weight: bold;
    overflow: hidden;
}

.nav a:hover {
    color: rgba(0,0,0,0.8)
}

@media only screen and (max-width: 650px) {
    .nav {
        width: 90%;
        margin: 2% 5%;
    }
}